{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Эта страница могла бы получиться очень интересной, если бы во мне жил этот верстальщик-проныра и любитель HTML</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Технологии, технологии, технологии...Python, Django, HTML, CSS, Bootstrap и многое другое, <br>
       что помогло мне сделать этот сайт без косяков (визуал в работе, stay tuned) </p>
  </article>
</div>
{% endblock %}